@import 'app.shared';

:host {
    display: block;
    margin-bottom: 2rem;
}

.event-name {
    color: $scout-blue;
    font-weight: 400;
    margin-bottom: 0.5rem;

    .date {
        color: $sea-blue-light;
        display: block;
        font-size: $font-size-sm;
        font-weight: 300;
        margin-top: 0.25rem;
    }
}

.event-details {
    font-size: $font-size-sm;
}

.description {
    clear: both;
    color: $gray-light;
    font-weight: lighter;
}
