@import 'app.shared';

:host {
    display: block;
}

form {
    margin-bottom: 3rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 1rem;
    }
}

mat-form-field {
    display: block;
    margin-bottom: 0.5rem;
    max-width: 500px;
    width: 100%;
}

.controls {
    margin-top: 1rem;
}
