@import 'app.shared';

:host {
    display: block;
    background: $scout-blue;
    box-shadow: 0 2px 2px 0 $shadow;
    font-size: 2rem;
    height: $header-height;
    position: fixed;
    width: 100%;
    z-index: 100;
}

:host-context(mat-sidenav) {
    box-shadow: none;
    position: relative;

    .navbar-brand {
        top: 4px;
    }
}

.navbar {
    .navbar-brand {
        color: white;
        padding-left: 3.7rem;
        position: relative;

        .logo {
            height: 3rem;
            left: 0;
            position: absolute;
            margin-top: -25px;
            top: 50%;
        }
    }
}
