@import 'app.shared';

.cms-content {
    img {
        border: 1px solid $scout-blue-light;
        border-radius: .25rem;
        display: block;
        margin: 2rem auto;
        max-width: 80%;
    }

    strong {
        color: $scout-blue-dark;
    }
}
