/** Official Color: http://blog.scoutingmagazine.org/2013/06/07/brand-id/ */

$cub-yellow: #fcd116;

$scout-blue: #003f87;
$scout-brown: #963;
$scout-red: #ce1126;

$sea-blue-dark: #036;
$sea-blue-light: #9ab3d5;
$sea-gold: #c90;
$sea-gold-dark: #960;

$ven-green: #006b3f;

// Derivatives - complimentary colors derived from the scout palette
$scout-blue-darker: #000f21;
$scout-blue-dark: #002754;
$scout-blue-light: #004aa0;
$scout-blue-lighter: #3a96ff;
$scout-blue-lightest: #badaff;
$scout-blue-super-light: #d3e7ff;

$gray: #2b2b2b;
$gray-dark: #111110;
$gray-light: #3d444c;
$gray-lighter: #89a;
$gray-lightest: #e3e6ea;

// Overides of bootstrap
$brand-danger: $scout-red;
$brand-info: $scout-blue;
$brand-primary: $scout-blue;
$brand-warning: $sea-gold;
$brand-highlight: $cub-yellow;
$brand-success: $ven-green;

$theme-colors: (
    primary: $scout-blue,
    secondary: $cub-yellow,
    success: $ven-green,
    info: $scout-brown,
    warning: $sea-gold,
    danger: $scout-red,
    light: $gray-lighter,
    dark: $brand-primary
);

$fore-border-color: $scout-blue-super-light;
$shadow: rgba(0, 17, 34, 0.4);

// Functional
$header-height: 4rem;
