@import '~@angular/material/theming';

$scout-app-primary: mat-palette($mat-indigo);
$scout-app-accent:  mat-palette($mat-yellow, A200, A100, A400);

// The warn palette is optional (defaults to red).
$scout-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$scout-app-theme: mat-light-theme($scout-app-primary, $scout-app-accent, $scout-app-warn);

// Include just the components we're using
@include mat-sidenav-theme($scout-app-theme);
