@import '~@angular/material/theming';
@import 'variables.scss';

@include mat-core();

// Material
$scout-blue-map: (
    50: $scout-blue-lightest,
    100: $scout-blue-lightest,
    200: $scout-blue-lighter,
    300: $scout-blue-lighter,
    400: $scout-blue-light,
    500: $scout-blue,
    600: $scout-blue-dark,
    700: $scout-blue-dark,
    800: $scout-blue-darker,
    900: $scout-blue-darker,
    contrast: (
        50: $gray,
        100: $gray,
        200: $gray,
        300: $gray,
        400: $gray,
        500: white,
        600: white,
        700: white,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $gray,
    )
);

$scout-yellow-map: (
    50: $cub-yellow,
    100: $cub-yellow,
    200: $cub-yellow,
    300: $cub-yellow,
    400: $cub-yellow,
    500: $cub-yellow,
    600: $cub-yellow,
    700: $cub-yellow,
    800: $cub-yellow,
    900: $cub-yellow,
    contrast: (
        500: white,
        600: white,
        700: white,
        A200: white,
        A400: white,
        A700: white,
    )
);

$scout-red-map: (
    50: $scout-red,
    100: $scout-red,
    200: $scout-red,
    300: $scout-red,
    400: $scout-red,
    500: $scout-red,
    600: $scout-red,
    700: $scout-red,
    800: $scout-red,
    900: $scout-red,
    contrast: (
        500: white,
        600: white,
        700: white,
        A200: white,
        A400: white,
        A700: white,
    )
);

$scout-app-primary: mat-palette($scout-blue-map);
$scout-app-accent:  mat-palette($scout-yellow-map);

// The warn palette is optional (defaults to red).
$scout-app-warn:    mat-palette($scout-red-map);

// Create the theme object (a Sass map containing all of the palettes).
$scout-app-theme: mat-light-theme($scout-app-primary, $scout-app-accent, $scout-app-warn);

// Include just the components we're using.
@include mat-form-field-theme($scout-app-theme);
@include mat-sidenav-theme($scout-app-theme);
@include mat-input-theme($scout-app-theme);
@include mat-radio-theme($scout-app-theme);

// Include the whole theme if you are inclined.
//@include angular-material-theme($scout-app-theme);
