<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-header></app-header>
        <app-nav-item *ngFor="let item of navItems" [item]="item" (click)="sidenav.close()"></app-nav-item>
    </mat-sidenav>
    <section class="main">
        <app-header>
            <i class="navbar-toggler material-icons" (click)="sidenav.open()">menu</i>
        </app-header>
        <div class="content-wrapper container-fluid">
            <div class="row">
                <div class="col-12 col-md-8">
                    <router-outlet></router-outlet>
                </div>
                <div class="col-12 col-md-4">
                    events..
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </section>
</mat-sidenav-container>
