<div class="component-news feature-content row row-offcanvas row-offcanvas-right" [class.active]="subNavShowing">
    <div class="col-12" [class.col-md-9]="sectionMenu">
        <p *ngIf="!sectionMenu"  class="float-right hidden-md-up">
            <button type="button" class="btn btn-primary btn-sm" (click)="toggleSubmenu()">Random Menu</button>
        </p>
        <page-content [content]="staticContent"></page-content>
        <!-- TODO: Then normal content -->
        <!-- End -->
    </div>
    <section-menu *ngIf="sectionMenu" [menu]="sectionMenu" class="col-6 col-md-3 sidebar-offcanvas"></section-menu>
</div>
