<div class="component-news feature-content row row-offcanvas row-offcanvas-right" [class.active]="subNavShowing">
    <div class="col-12" [class.col-md-9]="sectionMenu">
        <p *ngIf="!sectionMenu"  class="float-right hidden-md-up">
            <button type="button" class="btn btn-primary btn-sm" (click)="toggleSubmenu()">Random Menu</button>
        </p>
        <article>
            <h1>Round-Up</h1>
            <h3>Cub Scouts Information & Registration Night</h3>
            <p>
                Wednesday, September 6, 6:30 - 7:30PM<br/>
                Village Hall, Village Elementary (enter on H Ave between 6th & 7th)<br/>
            </p>
            <p>
                Cub Scouts has now expanded to allow Kindergarteners who will be entering First Grade next year to participate, through our Lion program! Now all boys in Kindergarten through Fifth Grade can enjoy Cub Scouts. Come visit us at our annual “Round-Up” to learn what Scouting can offer your family, meet our leaders, and visit with the Scouts!
            </p>
            <p>
                You can also visit our new family orientation and mixer at Spreckels Park on <strong>Saturday, September 9, from 11-12</strong>.
            </p>
            <p>
                <a href="http://evite.me/9Znt9bxXyc">eVite</a> for Round-Up<br/>
                Follow us on <a href="http://www.facebook.com/pack122">Facebook</a><br/>
                <a href="https://squareup.com/store/cub-scout-pack-122-3">Pay your dues or buy a t-shirt</a><br/>
            </p>
            <p>
                Contact Cubmaster <a href="mailto:egbrown@gmail.com">Erin Brown</a> with any questions!
            </p>
        </article>
    </div>
    <section-menu *ngIf="sectionMenu" [menu]="sectionMenu" class="col-6 col-md-3 sidebar-offcanvas"></section-menu>
</div>
