@import 'app.shared';

:host {
    border-top: 1px solid $scout-blue-light;
    display: block;
    font-weight: 300;

    a {
        color: white;
        display: block;
        font-size: $h5-font-size;
        line-height: 1;
        padding: 0.5rem 1rem 0.8rem;
        transition: all 0.2s;

        &:hover {
            color: $scout-blue-lightest;
            text-decoration: none;
        }

        &.active {
            background-color: $scout-blue-dark;
            color: $scout-blue-lightest;
        }
    }
}

.icon {
    margin-right: 0.5rem;
    position: relative;
    top: 0.25rem;
}
