@import "../sass/shared";

a.list-group-item {
  color: $scout-blue;

  &:hover, &:focus, &.active, &.active:hover, &.active:focus {
    background-color: $scout-blue;
    border-color: $scout-blue;
    color: white;
    text-decoration: none;
  }

  &.active, &.active:hover, &.active:focus {
    color: white;
  }
}