@import "~bootstrap/scss/variables";

/** Official Color: http://blog.scoutingmagazine.org/2013/06/07/brand-id/ */

$cub-yellow: #FCD116;

$scout-blue: #003F87;
$scout-brown: #996633;
$scout-red: #CE1126;

$sea-blue-dark: #003366;
$sea-blue-light: #9AB3D5;
$sea-gold: #CC9900;
$sea-gold-dark: #996600;

$ven-green: #006B3F;

// Derivatives - complimentary colors derived from the scout palette
$scout-blue-dark: $sea-blue-dark;
$scout-blue-darker: #001122;
$scout-blue-light: #ADC1D8;
$scout-blue-lighter: #99C8FF;
$scout-blue-lightest: #CCE3FF;

$gray: #2B2B2B;
$gray-dark: #111110;
$gray-light: #3D444C;
$gray-lighter: #8899AA;
$gray-lightest: #E3E6EA;

// Overides of bootstrap
$brand-danger: $scout-red;
$brand-info: $scout-blue;
$brand-primary: $scout-blue;
$brand-warning: $sea-gold;
$brand-highlight: $cub-yellow;
$brand-success: $ven-green;

$shadow: rgba(0, 0, 0, .3);