@import "~bootstrap/scss/variables";

/** Official Color: http://blog.scoutingmagazine.org/2013/06/07/brand-id/ */

$cub-yellow: #FCD116;

$scout-blue: #003F87;
$scout-brown: #996633;
$scout-red: #CE1126;

$sea-blue-dark: #003366;
$sea-blue-light: #9AB3D5;
$sea-gold: #CC9900;
$sea-gold-dark: #996600;

$ven-green: #006B3F;

$brand-danger: $scout-red;
$brand-info: $scout-blue;
$brand-primary: $scout-blue;
$brand-warning: $sea-gold;
$brand-highlight: $cub-yellow;

$shadow: rgba(0, 0, 0, .3);