@import "~bootstrap/scss/variables";

/** Official Color: http://blog.scoutingmagazine.org/2013/06/07/brand-id/ */

$cub-yellow: #FCD116;

$scout-blue: #003F87;
$scout-red: #CE1126;

$sea-dark-blue: #003366;

$ven-green: #006B3F;

$brand-primary: $scout-blue;

$shadow: rgba(0, 0, 0, .3);