@import "shared";

@import "~bootstrap/scss/normalize";
@import "~bootstrap/scss/print";

@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";

@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/responsive-embed";
@import "~bootstrap/scss/close";

@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";

@import "~bootstrap/scss/utilities";

/* General Layout */
@include media-breakpoint-down(sm) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-right .sidebar-offcanvas {
    right: -100%;
  }

  .row-offcanvas-right.active {
    right: 50%;

    .sidebar-offcanvas {
      right: -50%;
    }
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
  }
}

/* Overrides */
h1, h2 {
  border-bottom: 1px solid $cub-yellow;
  color: $scout-blue-dark;
  margin: 0 0 15px;
  padding: 0 0 15px;
}

.btn-primary {
  background-color:$brand-primary;
  border-color:$brand-primary;

  &:hover, &:focus, &.active, &.active:hover, &.active:focus {
    background-color: darken($brand-primary, 10%) !important;
    border-color: darken($brand-primary, 10%) !important;
  }
}