@import 'app.shared';

:host {
    display: block;
    font-size: $font-size-sm;
}

footer {
    border-top: 1px solid $scout-blue-lightest;
    margin-top: 1.5rem;
    padding: 1.5rem 1rem 1rem;
}

p {
    margin: 0 0 0.25rem;
}

.social-icon {
    height: 1.5rem;
}
